/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
 }

 

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.color-primary {
 color: mat.get-theme-color($light-theme, primary);
}

.color-accent {
  color: mat.get-theme-color($light-theme, accent);
}

.background-color-primary {
background-color: mat.get-theme-color($light-theme, primary);
}

.background-color-accent {
  background-color: mat.get-theme-color($light-theme, accent);
}

mat-divider {
  margin-top: 2em;
  margin-bottom: 2em;
}