.top-container {
  margin-left: 1em;
  margin-right: 1em;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5em;
  overflow: hidden;
}

mat-radio-button {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
